.light{
    width: 52px;
    height: 53px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    
    cursor: pointer;
    &.red { background-color: red;}
    &.yellow { background-color: yellow;}
    &.green { background-color: green;}
    &.selected { box-shadow: #f18a02 20px 20px 50px 10px;}
} 
//Aqui podemos hacer el palo del semaforo
#Base {
    background-color: black;
    width: 15px;
    height: 50px;
    margin-left: 80px;
}
//el case es el fondo del semaforo 
#Case {
    background-color: rgb(233, 174, 13);
     width: 60px;
    height: 185px;
    border-color: black;
    border-radius: 10px;
    margin-left: 50px;
    padding: 10px;
   
}

