body{
    background: whitesmoke;
}
// Aquí ubicamos las dimensiones de las luces.
.light{
    width: 62px;
    height: 63px;
    margin: auto;
    border-radius: 80%;
    padding: 6px;
    
    cursor: pointer;
    &.red { background-color: red;}
    &.yellow { background-color: yellow;}
    &.green { background-color: green;}
    &.selected { box-shadow: #f18a02 20px 20px 50px 10px;}
} 
//Representa el asta donde se ancla del semáforo.
#Base {
    background-color: rgb(101, 28, 170);
    width: 15px;
    height: 80px;
    margin-inline: 100px;
}
//Case representa el fondo del semáforo.
#Case {
    background-color: rgb(233, 174, 13);
    width: 104px;
    height: 230px;
    border-color: red;
    border-radius: 20px;
    margin-left: 50px;
    padding: 10px;
}

